<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Your Title Here{% endblock %}</title>
    <link href="/bootstrap/css/bootstrap.min.css" 
	  rel="stylesheet" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Happy+Monkey' 
	  rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" 
		  data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" 
	     style="font-family: 'Happy Monkey', cursive;" 
	     href="/">PullDB</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
	    {% macro navlink(name, link) -%}
	    <li{% if name == active %} class="active"{% endif %}>
	      <a href="{{ link }}">{{ name }}</a>
	    </li>
	    {%- endmacro %}
            {{ navlink('Home', '/') }}
	    {% if user_info_name %}
	    {{ navlink('Volumes', '/volumes') }}
	    {% endif %}
	    {% if user_is_admin %}
            {{ navlink('Admin', '/admin') }}
	    {% endif %}
          </ul>
	  <p class="navbar-text pull-right">
	    {% if user_info_name %}
	    Signed in as: {{ user_info_name }} 
	    {% endif %}
	    <a class="navbar-link" href="{{user_info_url}}">
	      {{ user_info_text }}</a>
	  </p>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <div class="container well">
      <p>Copyright &copy; 2013 
	<a href="https://plus.google.com/106763041812869545758/about" 
	   rel="author">Russell Heilling</a></p>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files 
	 as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
