{% extends "volumes.html" %}
{% block title %}Volume Search{% endblock %}
{% block content %}
<div class="row content">
  <form action="/volumes/search" method="GET">
    <input type="text" name="q" value="{{ query }}" />
    <input type="submit" name="Search" />
  </form>
</div>
{% if results %}
<div class="row content">
  <p>Displaying {{ results_count }} results...</p>
</div>
<div class="row content">
  {% for result in results %}
    {% if result %}
  <div class="col-md-3">
    <h1>{{ result.name }} ({{ result.start_year }})</h1>
    <img width="75%" height="auto" src="{{ result.image.small_url }}" />
    {% if result.deck %}
    <p>{{ result.deck }}</p>
    {% endif %}
    <p><a href="{{ result.site_detail_url }}">View on comicvine...</a>
  </div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}
