{% extends "volumes.html" %}
{% block title %}Volume Search{% endblock %}
{% block content %}
{% include "volumes_search_form.html" %}
{% if results %}
<div class="well">
  <p>Displaying {{ results_count }} results...</p>
</div>
<div class="well">
  {% for result in results %}
  {% if loop.index0 % 4 == 0 %}
  <div class="row">
  {% endif %}
  {% include "volume_panel.html" %}
  {% if result %}
  {% endif %}
  {% if loop.index % 4 == 0 or loop.last %}
  </div> <!-- row -->
  {% endif %}
  {% endfor %}
</div> <!-- well -->
{% endif %}
{% endblock %}
